/* Page title */
#title{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Small text under title */
#description{
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 40px;
}

.content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

#contact-card{
    background-color: #e5e5e5;
    padding: 32px;
    padding-left: 300px;
    padding-right: 300px;
    border: var(--secondary-black) 1px solid;
}

.info-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact-card-header {
    text-align: center;
    font-size: 1.3em;
}

#label{

}

#value{

}